/* Fonts */
@font-face {
    font-family: Gotham Black;
    font-weight: bold;
    src: url("../fonts/Gotham/Gotham-Black.otf") format("opentype");
}
@font-face {
    font-family: Gotham Bold;
    src: url("../fonts/Gotham/Gotham-Bold.otf") format("opentype");
}
@font-face {
    font-family: Gotham Book;
    src: url("../fonts/Gotham/Gotham-Book.otf") format("opentype");
}
@font-face {
    font-family: Gotham Light;
    src: url("../fonts/Gotham/Gotham-Light.otf") format("opentype");
}
@font-face {
    font-family: Gotham Medium;
    src: url("../fonts/Gotham/Gotham-Medium.otf") format("opentype");
}
@font-face {
    font-family: Gotham Thin;
    src: url("../fonts/Gotham/Gotham-Thin.otf") format("opentype");
}
@font-face {
    font-family: Gotham XLight;
    src: url("../fonts/Gotham/Gotham-XLight.otf") format("opentype");
}

/** Gotham-Rounded **/
@font-face {
    font-family: GothamRnd Bold;
    font-weight: bold;
    src: url("../fonts/Gotham-Rounded/GothamRnd-Bold.otf") format("opentype");
}
@font-face {
    font-family: GothamRnd BoldIta;
    src: url("../fonts/Gotham-Rounded/GothamRnd-BoldIta.otf") format("opentype");
}
@font-face {
    font-family: GothamRnd Book;
    src: url("../fonts/Gotham-Rounded/GothamRnd-Book.otf") format("opentype");
}
@font-face {
    font-family: GothamRnd BookIta;
    src: url("../fonts/Gotham-Rounded/GothamRnd-BookIta.otf") format("opentype");
}
@font-face {
    font-family: GothamRnd Light;
    src: url("../fonts/Gotham-Rounded/GothamRnd-Light.otf") format("opentype");
}
@font-face {
    font-family: GothamRnd LightIta;
    src: url("../fonts/Gotham-Rounded/GothamRnd-LightIta.otf") format("opentype");
}
@font-face {
    font-family: GothamRnd MedIta;
    src: url("../fonts/Gotham-Rounded/GothamRnd-MedIta.otf") format("opentype");
}
@font-face {
    font-family: GothamRnd Medium;
    src: url("../fonts/Gotham-Rounded/GothamRnd-Medium.otf") format("opentype");
}
